<!DOCTYPE html>
<link rel="icon" href="../img/logo.png" type="image/x-icon">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
    <header th:replace="~{template :: header}"></header>
</head>

<body style="background-color: white">
	<div class="container-fluid">
		
		<nav th:replace="~{template :: sideSuperior}"></nav>
        <div th:replace="~{template :: sideInferior}"></div>
		
		<main role="main" class="col-md-10 offset-md-2 main-content">
			<div class="jumbotron">
				<h1 class="display-4 mx-4">Agregar Empleados</h1>				
			</div>
			
			<form action="#" th:action="@{/empleados/insert}" th:object="${empleado}" method="post">
			    <div class="my-2">
			        <label class="form-label">ID</label>
			        <input type="text" class="form-control" disabled/>
			        <p class="alert alert-warning mt-2" 
			            th:if="${#fields.hasErrors('idEmpleado')}"
			            th:errors="*{idEmpleado}"></p>
			    </div>
			    <div class="my-2">
			        <label class="form-label">Nombre</label>
			        <input type="text" th:field="*{nombre}" class="form-control" autocomplete="off" />
			        <p class="alert alert-warning mt-2" 
			            th:if="${#fields.hasErrors('nombre')}" 
			            th:errors="*{nombre}"></p>
			    </div>
			    <div class="my-2">
			        <label class="form-label">Apellido Paterno</label>
			        <input type="text" th:field="*{apePaterno}" class="form-control" autocomplete="off" />
			        <p class="alert alert-warning mt-2" 
			            th:if="${#fields.hasErrors('apePaterno')}"
			            th:errors="*{apePaterno}"></p>
			    </div>
				<div class="my-2">
					<label class="form-label">Apellido Materno</label>
					<input type="text" th:field="*{apeMaterno}" class="form-control" autocomplete="off" />
					<p class="alert alert-warning mt-2"
					   th:if="${#fields.hasErrors('apeMaterno')}"
					   th:errors="*{apeMaterno}"></p>
				</div>
			    <div class="my-2">
			        <label class="form-label">Correo</label>
			        <input type="text" th:field="*{correo}" class="form-control" autocomplete="off" />
			        <p class="alert alert-warning mt-2" 
			            th:if="${#fields.hasErrors('correo')}" 
			            th:errors="*{correo}"></p>
			    </div>
			    <div class="my-2">
			        <label class="form-label">Celular</label>
			        <input type="text" th:field="*{celular}" class="form-control" autocomplete="off" />
			        <p class="alert alert-warning mt-2" 
			            th:if="${#fields.hasErrors('celular')}" 
			            th:errors="*{celular}"></p>
			    </div>
			    <div class="my-2">
			        <label class="form-label">DNI</label>
			        <input type="text" th:field="*{dniEmpleado}" class="form-control" autocomplete="off" />
			        <p class="alert alert-warning mt-2" 
			            th:if="${#fields.hasErrors('dniEmpleado')}"
			            th:errors="*{dniEmpleado}"></p>
			    </div>
			    <div class="my-2">
			        <label class="form-label">Fecha de Nacimiento</label>
			        <input type="text" th:field="*{fechaNacimiento}" class="form-control" autocomplete="off" />
			        <p class="alert alert-warning mt-2" 
			            th:if="${#fields.hasErrors('fechaNacimiento')}"
			            th:errors="*{fechaNacimiento}"></p>
			    </div>

			    <p class="text-center mt-3">
			        <button type="submit" class="btn btn-success mx-3">Agregar</button>
			        <a th:href="@{/empleados}" class="btn btn-secondary mx-3">Regresar</a>
			    </p>
			</form>
			
		</main>



	</div>

	<header th:replace="~{template :: footer}"></header>

</body>

<script>
	$('#fechaNacimiento').datepicker({
		format: "dd/mm/yyyy",
		language: "es"
	});
</script>

</html>